body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.container {

    position: justify;
}

.container img {
    width: 100%;
}

.text {
    position: absolute;
    bottom: 15%;
    padding-left: 15%;
    font-size: 70px;
    color: white;
    text-align: center;

}

.text-button {
    font-size: 15px;
}

a {
    text-decoration: none;
    background-color: rgb(255, 71, 71);
    color: white;
    font-weight: 700;
    border-radius: 5px;
    padding: 20px 30px;

}

.donate-items h1 {
    font-size: 60px;
    font-weight: 900;
    text-align: center;
    margin-top: 7%;
}

.donate-items h3 {
    text-align: center;
    color: gray;
    font-weight: 400;
}



ul {

    display: flex;
    font-size: 25px;
    color: gray;
    margin-left: 30%;
    padding-right: 50px;
    border-radius: 5px;
    background-color: rgb(231, 230, 230);
    width: 70px;
}

.special {
    background-color: rgb(238, 203, 203);
    color: tomato;
    margin-left: 80%;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 5px;
    border: 5px solid tomato;
    width: 70px;
}

.amonut-items {
    display: flex;
    font-size: 25px;
    color: gray;
    margin-left: 40%;
    padding-left: 40px;
    padding-right: 50px;
    border-radius: 5px;
    background-color: rgb(231, 230, 230);
    width: 70px;
}

.donate-items p {
    color: gray;
    font-size: 20px;
    text-align: center;
    border-bottom: 2px solid gray;


}

.donate-items a {
    text-decoration: none;
    background-color: rgb(255, 71, 71);
    color: white;
    font-weight: 700;
    border-radius: 5px;
    padding: 20px 30px;
    margin: 45%;
}

.plan-item h1 {
    font-size: 60px;
    font-weight: 900;
    text-align: center;
    margin-top: 7%;
}

.plan-item h3 {
    text-align: center;
    color: gray;
    font-weight: 400;
}

.all-plan-items {
    display: flex;
}

.plan-one {
    background-color: rgb(192, 227, 241);
    width: 20%;
    height: 40%;
    border-radius: 7px;
    padding: 50px 30px;
    margin-top: 5%;
    margin-left: 8%;
}

.plan-two {
    background-color: rgb(250, 198, 189);
    width: 20%;
    height: 40%;
    border-radius: 7px;
    padding: 50px 30px;
    margin-top: 5%;
    margin-left: 7%;
}

.plan-three {
    background-color: rgb(255, 252, 223);
    width: 20%;
    height: 40%;
    border-radius: 7px;
    padding: 50px 30px;
    margin-top: 5%;
    margin-left: 7%;
}

.update-area h1 {
    font-size: 60px;
    font-weight: 900;
    text-align: center;
    margin-top: 7%;
}

.update-area h3 {
    text-align: center;
    color: gray;
    font-weight: 400;
}

form {
    background-color: rgb(255, 252, 220);
    width: 30%;
    height: 7%;
    margin-left: 25%;
    padding: 10%;
    align-items: center;
}

input {

    background-color: rgb(216, 212, 212);
    border: none;
    font-size: 30px;
    border-radius: 5px;
}

button {

    border: none;
    background-color: rgb(255, 71, 71);
    color: white;
    font-weight: 700;
    border-radius: 5px;
    padding: 10px 20px;

}

footer h1 {
    font-family: 'Lobster', cursive;
    color: tomato;
}

footer p {
    margin: 0;
    color: white;
}

footer {

    text-align: center;
    background-color: black;
    padding: 20px;

}