body {
    margin: 0;
}

.container {
    font-family: 'Poppins', sans-serif;
    position: justify;
}

.container img {
    width: 100%;
}

.text {
    position: absolute;
    bottom: 15%;
    padding-left: 15%;
    font-size: 70px;
    color: white;
    text-align: center;
}

.text-button {
    font-size: 15px;
}

a {
    text-decoration: none;
    background-color: rgb(255, 71, 71);
    color: white;
    font-weight: 700;
    border-radius: 5px;
    padding: 20px 30px;
}